.spacing {
    margin-bottom: 1.5rem;
}

.title {
    padding: 10px;
    font-weight: 300;
}

.header {
    margin-right: 20rem;
}

.confirmation-border {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}