/* Beheerdersportal.css */
.navbar {
  background-color: #000000; /* Donkere achtergrond voor de navbar */
} 

.nav-link {
  color: #dcdcdc; /* Lichtgrijze tekst voor de navigatielinks */
  margin-inline-start: 30px; /* Zorgt voor ruimte tussen de nav-links */
}

.nav-link:hover {
  color: #ffffff; /* Witte tekst voor hover */
}

.admin-welcome {
  font-size: 24px; /* Grotere tekstgrootte voor welkomstbericht */
  color: #333333; /* Donkergrijze tekst */
}

.btn-uitloggen {
  color: #ffffff; /* Witte tekst */
  background-color: #2f39bb; /* Achtergrondkleur */
  border-color: #ffffff; /* Randkleur */
}

.btn-uitloggen:hover {
  background-color: #1b356a; /* Achtergrondkleur bij hover */
  border-color: #000000; /* Randkleur bij hover */
}

@media (max-width: 1000px) {
  .nav-link {
    margin-inline-start: 20px; /* Verklein de ruimte op kleinere schermen */
  }
}
