h1 {
	font-size: 35px;
	font-weight: 600;
}

h2 {
  font-size: 25px !important;
}

h3 {
  font-weight: 500 !important;
  font-size: 22px !important;
}

h4 {
  font-weight: 500 !important;
  font-size: 18px !important;
}

.App {
  text-align: center;
}

.main-body{
  min-height: 100vh;
}


