
.home-kop h3 {
	font-weight: 600;
}

.home-kop div {
	justify-content: center !important;

}

.home-heading-row {
	margin: 100px 0px;
}

.button-text {
	display: block;
	width: 250px;
	padding-bottom: 1rem;
	font-size: 18px;
}

.login-block {
	justify-content: center;
}

.btn-primary:hover {
	background-color: #131B56;
}

@media (max-width: 1000px) {
	.button-container {
		margin-top: 36rem;
	}
}