.titel {
    font-size: 3rem;
    margin-top: 2rem;
    font-weight: 200;
}

.number {
    font-size: 24px;
    font-weight: bold;
}

.small-text {
    font-size: 12px; 
    color: #777;
}

.data-row-numbers {
    margin-top: 6rem;
}

.data-row-buttons {
    margin-top: 3rem;
}
