.confirm-data-table tbody {

    
}

.confirm-data-table th {
    font-weight: bold;
    
}

.bewerk-profiel-checkbox {
    display:block;
    font-size: 1.1rem;
    font-weight: 600;
}

.inputvelden{
    margin: auto;
       
}
