.profile-info-page {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.profile-info-page h1 {
    text-align: center;
    color: #333;
    margin-bottom: 15px; 
}

.form-group {
    margin-bottom: 20px; /* Adjusted for spacing between inputs */
    position: relative; /* Needed for custom arrow positioning */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.form-group input[type="Algemeen"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px; /* Adjusted margin top */
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Specific styles for checkbox */
.form-group input[type="checkbox"] {
    width: auto;
    margin-top: 5px;
}

/* Specific styles for the disabled input */
.form-group input[disabled] {
    background-color: #e9ecef;
    opacity: 1;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.back-button [type="back"] {
    padding: 10px;
    border: none;
    background-color: #6c757d;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #5a6268;
}

.save-button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.save-button:hover {
    background-color: #0056b3;
}
