
.chat-container {
    height: 500px;
}

.chat-list-panel {
    border-right: 1px solid rgba(0, 0, 0, 0.175);
    overflow-y: auto;
}

.chat-message-window {
    position: relative;
}

.chat-message-body {
    max-height: 350px;
    overflow-y: scroll;
}

.chat-input {

}

.chat-msg-send-badge {
    background-color: #131B56 !important;
}

