btn-uitloggen {
    color: #ffffff; 
    background-color: #2f39bb; 
    border-color: #ffffff; 
  }
  
  .btn-uitloggen:hover {
    background-color: #1b356a; 
    border-color: #000000; 
  }
  
  @media (max-width: 1000px) {
    .nav-link {
      margin-inline-start: 20px; 
    }
  }
  