.form-check-input {
    background-color: white; 
    border: 1px solid #555;
}

.first-row {
    margin: 1.5rem;
}

.main-text {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1rem;
}

.sub-text {
    font-size: 1.25rem;
    font-weight: 200;
    margin-top: 1rem;
}

.geen-meldingen {
    font-size: 1.5rem;
    font-weight: 450;
    margin-top: 1rem;
    margin-left: 1.5rem;
    height: 100vh;
}

.melding-titel {
    font-size: 1.5rem;
}

.datum-ontvangen {
    font-size: 1.10rem;
    font-weight: 200;
}