.over-ons {
    min-height: 100px;
    text-align: left;
}

.over-ons p {
    margin-bottom: 10px
}

.onze-missie,
.achtergrond {
    margin-top: 65px;
    margin-bottom: 10px;
}

.over-ons p:last-child {
    margin-bottom: 80px;
}

.container-over-ons {
    text-align: left;
}
