version: "3.3"
services:
  backend_the_whites:
    image: thewhites/backend:v1.0
    stdin_open: true
    tty: true
    ports:
      - "8066:8066/udp"
      - "8066:8066/tcp"
    volumes:
      - "./*:/usr/api/"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - .env
    restart: always
    networks:
      - thewhites

networks:
   thewhites: