name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: thewhites-fe/package-lock.json

    - name: Install dependencies and run tests
      working-directory: thewhites-fe
      run: |
        npm ci
        npm run build --if-present
        npm test

    - name: Code Quality (ESLint)
      working-directory: thewhites-fe
      run: |
        npm install eslint --save-dev
        npm install --no-save # Ensure dependencies are installed
        npx eslint .

    - name: Security Check
      working-directory: thewhites-fe
      run: |
        npm audit --audit-level=high
