name: Node.js CI

on:
  push:
    branches: [ "master" ]
    paths:
      - 'thewhites-fe/**'
  pull_request:
    branches: [ "master" ]
    paths:
      - 'thewhites-fe/**'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: thewhites-fe/package-lock.json

    - name: Install dependencies and run tests
      working-directory: thewhites-fe
      run: |
        npm ci
        CI=false npm run build --if-present
        npm test

    - name: Code Quality (ESLint)
      working-directory: thewhites-fe
      run: |
        npm install eslint --save-dev
        npm install --no-save # Ensure dependencies are installed
        npx eslint .
  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push'
    steps:
    - name: Deployment - cleanup (1/4)
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY_LOGIN }}
        port: ${{ secrets.SSH_PORT }}
        script: |
          su fivem
          cd /home/richano/projects && bash ./deployment-files/cleanup-fe.sh

    - uses: actions/checkout@v3
    - name: Deployment - Upload files (2/4)
      uses: appleboy/scp-action@v0.1.4
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY_LOGIN }}
        port: ${{ secrets.SSH_PORT }}
        source: "./thewhites-fe/*"
        target: "/home/richano/projects/thewhites-fe/"

    - name: Deployment - Fixup (3/4)
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY_LOGIN }}
        port: ${{ secrets.SSH_PORT }}
        script: |
          cd /home/richano/projects/thewhites-fe/ && mv ./thewhites-fe/* ./

    - name: Deployment - Restart docker container (4/4)
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY_LOGIN }}
        port: ${{ secrets.SSH_PORT }}
        script: |
          cd /home/richano/projects/
          su fivem
          bash deployment-files/redeploy-fe.sh
