.footer {
    min-height: 100px;
    align-items: center;
    justify-content: center;
    background-color: rgb(33, 37, 41);
    color: lightgray;
    margin: 0;
}

.copyright:hover {
    color: white;
}

.footer a {
    color: lightgray;
    text-decoration: none;
}

.footer a:hover {
    color: white;
}